pyyaml==5.4.1
tensorflow>=2.3.1
numpy==1.19.4
opencv-python==4.1.1.26
openvino-dev==2022.1.0  # OpenVINO export
protobuf<4.21.3  # https://github.com/ultralytics/yolov5/issues/8012
onnx>=1.9.0 # ONNX export
onnx-simplifier>=0.3.6  # ONNX simplifier
tensorflow==2.8.0
tensorflow-datasets
pandas
opencv-python 
matplotlib