numpy>=1.21.0
onnx>=1.9.0 # ONNX export
onnx-simplifier>=0.3.6  # ONNX simplifier
tensorflow>=2.9.0
tensorflow-datasets
onnx-tf
pandas
opencv-python 
matplotlib
requests
fastapi
torch
torchvision
torchaudio
tensorflow_probability
